body{
    background-color: #ffffff;
}
#sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
body .hamburger{
    display: inline;
    position: fixed;
    top: 35px;
    left: 30px;
    z-index: 0;
    width: 25px;
    height: 7vh;
    transition: 1s;
}
.hamburger div{
    height: 3px;
    margin: 5px 0;
    background-color: black;
    border-radius: 13px;
}
.hamburger .hamline1{
    width: 100%;
}
.hamburger .hamline2{
    width: 80%;
    margin-left: 20%;
}
.hamburger .hamline3{
    width: 100%;
}
#sidenav img{
    transform: scale(0.6,0.6);
    align-self: center;
}
#sidenav a {
    padding-left: 25px;
    width: 205px;
    margin-top: 35px;
    text-decoration: none;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2px;
    letter-spacing: 0em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.3s;
    border-radius: 50px;
    color: #B2B2B2;
}
#sideheading a{
    padding: 0px 0px;
    margin: 0px 0px;
    width:auto;
}

#sideheading{
    align-self: center;
    display: flex;
    flex-direction: row;
}
#sideheading h1{
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
.selected{
    background-color: #f0f7ff;
    box-shadow: 0px 2px 4px 0px #000000;
    color: #4B98CC;
}
.selected h5{
    color: #4B98CC;
}
  /* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    background-color: #f0f7ff;

}
#sideheading a:hover{
    background-color: #ffffff;
}
  /* Position and style the close button (top right corner) */
#sidenav .closebtn {
    position: absolute;
    top: 0%;
    left: 200px;
    font-size: 36px;
}
 
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    background: linear-gradient(130.36deg, #F3F6FF 42.99%, #A0AED3 100.94%);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    min-height: 93vh; /*please fix this*/
}
.subcontainer{
    display: inline;
}
.subcontainer h1{
    display: inline;
    margin-left: 40px;
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
.subcontainer button{
    background: linear-gradient(90.03deg, #2B87FF 2.95%, #2A7BE3 99.98%);
}
.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    height: 85vh;
}
.stockCard{
    color: #ffffff;
    padding: 5px 10px;
    background: linear-gradient(180deg, #191E57 69.27%, #030624 100%);
    width: 275px;
    height: 312px;
    border-radius: 27px;
    box-shadow: 0px 8px 4px 0px #000000;
    margin: 15px 15px;
}
.stockCard h2{
    font-family: Gotham;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

}
.stockCard p{
    opacity: 90%;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}
.stockCard h3{
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}
.stockCard h4{
    display: inline;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #00ff00;
}
.stockCard h5{
    opacity: 70%;
    display: inline;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #00ff00;
    margin-left: 15px;
}
.stockCard svg{
    margin-top: 10px;
}
.fundcryptoCard{
    color: #ffffff;
    padding: 5px 10px;
    background: linear-gradient(180deg, #191E57 69.27%, #030624 100%);
    width: 275px;
    height: 312px;
    border-radius: 27px;
    box-shadow: 0px 8px 4px 0px #000000;
    margin: 15px 15px;
}
.fundcryptoCard h2{
    font-family: Gotham;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

}
.fundcryptoCard p{
    opacity: 90%;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}
.fundcryptoCard h3{
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.modal{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 80;
    display: none;
}
.mod-active{
    display: block;
}
.add-btn{
    position: absolute;
    top:40px;
    right: 40px;
}
.add-btn button{
    min-width: 200px;
    box-sizing: border-box;
    padding-top:3px 10px;
    height: 40px;
    background: linear-gradient(90.03deg, #2B87FF 2.95%, #2A7BE3 99.98%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border:none;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
    outline: none;
}
.input-container.inp-active{
    transform: translate(-50%,0%);
    opacity: 1;
}
.input-container{
    position: fixed;
    bottom: 0;
    z-index: 80;
    width:40%;
    height: 500px;
    background-color: white;
    left:50%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    font-family:'poppins',sans-serif;
    transform: translate(-50%,100%);
    opacity: 0;
    transition: 0.5s ease;
}
.inp-head{
    height: 15%;
    text-align: center;
    padding-top: 5%;
    box-sizing: border-box;
    font-size: 22px;
}
.form{
    margin-top: 5%;
    height: 75%;
}
.input-container .form form input{
    display: block;
    width:80%;
    margin:0 auto 6% auto;
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    outline: none;
    font-size: 18px;
    text-align: center;
}
.input-container .form form label{
    margin-top: 6%;
    margin-left: 11%;
    text-align: start;
}
.input-container .buttons{
    display: flex;
    justify-content: space-evenly;
}
.input-container .form form button{
    width: 40%;
    display: block;
    margin: auto;
    height: 40px;
    background: linear-gradient(90.03deg, #2B87FF 2.95%, #2A7BE3 99.98%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border:none;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
}
@media screen and (max-width:900px){
    .input-container{
        width:60%;
        height: 450px;
    }
}
@media screen and (max-width:500px){
    .input-container{
        width:90%;
        height: 400px;
    }
    #container{
        margin-top: 45px;
    }
    .add-btn{
        top:10px;
        right:10px;
    }
    #btn{
        
        font-size: 13px;
        min-width: 100px;
    }
}
@media (max-width: 6in){
    #sidenav {
        background-color: #ffffff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 10px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    #sidenav a {
        width: 225px;
        
    }
    #sideheading{
        align-self: center;
        display: flex;
        flex-direction: row;
    }
    #main {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        min-height: 85vh; /*please fix this*/
    }
    .subcontainer{
        margin-top: 0px;
    }
    .subcontainer h1{
        margin-top: 0px;
        font-size: 32px;
        line-height: 26px;
        text-align: center;
    }
    .cardContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        overflow-y: auto;
        overflow-x: hidden;
        flex-wrap: wrap;
        height: 78vh;
    }
    .stockCard{
        padding: 5px 10px;
        width: 125px;
        height: 212px;
        margin: 15px 5px;
    }
    .stockCard h2{
        font-size: 26px;    
    }
    .stockCard p{
        font-size: 12px;
    
    }
    .stockCard h3{
        font-size: 20px;
    
    }
    .stockCard h4{
        font-size: 14px;
    }
    .stockCard h5{
        font-size: 14px;
    }
    .stockCard svg{
        transform: scale(0.3,0.3) translateX(-302px);
        margin-top: 0px;
    }
    .fundcryptoCard{
        padding: 5px 10px;
        width: 125px;
        height: 212px;
        margin: 15px 5px;
    }
    .fundcryptoCard h2{
        font-size: 26px;
    
    }
    .fundcryptoCard p{
    
        font-size: 12px;
    
    }
    .fundcryptoCard h3{
        font-size: 18px;
        line-height: 20px;
    }
}